@{
    ViewBag.Title = "Контакты";
}

<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=GcyhWC9tTmIcNvCxGtlKAkhZsqhsxBoW&width=600&height=450&lang=ru_RU&sourceType=constructor"></script>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table class="lined hover" style="width: 100%;">
    <tbody>
        <tr>
            <td><strong>Адрес:</strong></td>
            <td>г. Нур-Султан, ул. Илияса Есенберлина, 22</td>
        </tr>
        <tr>
            <td><strong>Тел.:</strong></td>
            <td>+7-7172-78-01-75, +7-702-209-07-66, +7-702-617-63-04</td>
        </tr>
        <tr>
            <td><strong>E-mail:</strong></td>
            <td><a data-display="info_ast@mail.ru" data-sanitized="mailto:info_ast@mail.ru" dir="ltr" href="mailto:info_ast@mail.ru" rel="nofollow noreferrer" tabindex="-1" target="_blank">info_ast@mail.ru</a></td>
        </tr>
        <tr>
            <td><strong>Режим работы</strong></td>
            <td>с 10:00 до 18:00</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>