@{
    ViewBag.Title = "Реквизиты";
}

<h2>@ViewBag.Title</h2>

    <table cellpadding="5" class="lined hover" style="width: 100%;">
        <tbody>
            <tr>
                <td style="vertical-align: top;"><strong>Рекламное агенство "РеАгент"</strong></td>
                <td style="vertical-align: top;">Общество с&nbsp;ограниченной ответственностью «РеАгент»</td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>Сокращенное наименование организации</strong></td>
                <td style="vertical-align: top;">ООО «РеАгент»</td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>Юридический адрес</strong></td>
                <td style="vertical-align: top;">Астана, ул. Илияса Есенберлина, 36, оф. 13</td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>Телефоны и факс</strong></td>
                <td style="vertical-align: top;">телелефон +7-7172-78-01-75 - 78-01-75</td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>ИНН</strong></td>
                <td style="vertical-align: top;">123***5346457***</td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>КПП</strong></td>
                <td style="vertical-align: top;">656453*****36456</td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>ОКВЭД</strong></td>
                <td style="vertical-align: top;">765845*****6856</td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>ОКПО</strong></td>
                <td style="vertical-align: top;">7867***</td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>ОГРН</strong></td>
                <td style="vertical-align: top;">46*****68643*****64</td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>Банковские реквизиты</strong></td>
                <td style="vertical-align: top;">
                    Расчетный счет 657*****0005837593275<br>
                    банк "Банк-Астаны"<br>
                    БИК 45654637***<br>
                    корреспондентский счет 56*****6745636
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>Адрес электронной почты</strong></td>
                <td style="vertical-align: top;"><a data-display="info_ast@mail.ru" data-sanitized="mailto:info_ast@mail.ru" dir="ltr" href="mailto:info_ast@mail.ru" rel="nofollow noreferrer" tabindex="-1" target="_blank">info_ast@mail.ru</a></td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><strong>Директор</strong></td>
                <td style="vertical-align: top;">Алмаз Э.П.</td>
            </tr>
        </tbody>
    </table>