@{
    ViewBag.Title = "Агентство полного цикла";
}

<div class="art-title"><h1>Рекламное агентство полного цикла в Астане</h1></div>
<div class="clr"></div>

<p id="outdoor_branding" class="dropcap"><strong>Рекламное агентство полного цикла » Пакет продвижения компании</strong></p>
<ol class="list">
    <li>Определение целей, постановка задач рекламной кампании.</li>
    <li>Разработка концепции рекламного послания (до 3-х концепции).</li>
    <li>Разработка слогана рекламной кампании (до 5 вариантов).</li>
    <li>Разработка сценария видеоролика (до 3 вариантов).</li>
    <li>Разработка сценария радиоролика (до 3 вариантов).</li>
    <li>Планирование рекламной кампании.</li>
</ol>
<p id="mediaplanning" class="dropcap"><strong>Рекламное агентство полного цикла » Медиапланирование</strong></p>
<ul class="list">
    <li>Составление аргументированного, полного и независимого плана размещения рекламных материалов с учётом рейтингов, эффективных контактов с учётом <abbr title="Целевая аудитория">ЦА</abbr>.</li>
    <li>Переговоры со СМИ, контроль выхода рекламных материалов с отчётом, предоставление объёмной агентской скидки. Оптимизация бюджета.</li>
</ul>
<p><em>Агентская комиссия составляет 3-15% от рекламного бюджета.</em></p>
<p id="communication_strategy" class="dropcap"><strong>Рекламное агентство полного цикла » Разработка коммуникационной стратегии</strong></p>
<ul class="list">
    <li>Определение целевой аудитории.</li>
    <li>Поиск целей и постановка задач бизнеса, маркетинга, рекламной кампании.</li>
    <li>Медиапланирование. Средства достижения целей рекламной кампании.</li>
    <li>Проведение мероприятий по оценке эффективности рекламной кампании.</li>
</ul>