@{
    ViewBag.Title = "Интернет-реклама";
}

<p>Наши условия по вышеперечисленным СМИ: отдаем вам всю скидку + АК в зависимости от бюджета в мес.: от 5-15%.</p>
<p>Для того чтобы более точно сделать коммерческое предложение по продвижению и размещению рекламы в интернете нам необходимо получить ответы на вопросы:</p>
<ul>
    <li>Цели рекламной кампании?</li>
    <li>Кто ваша Целевая аудитория?</li>
    <li>Охват (страна, город)?</li>
    <li>Более подробно о ваших услугах (перечислите)?</li>
    <li>Период планирования?</li>
    <li>Примерный бюджет в месяц?</li>
    <li>Контакты, сайт?</li>
</ul>
<p class="dropcap"><strong>Эффективность интернет-рекламы, ее типы</strong></p>
<p><img src="~/Content/images/service/inet1.png" border="0" alt="реклама в интернете" width="100%"></p>
<p><strong>Реклама в Интернете</strong> завоевывает сетевое пространство всевозможными доступными способами. В отличии от рекламы в СМИ — печатных изданиях, радио и телевидении, на улицах городов — она охватывает, пожалуй, наиболее масштабное пространство и аудиторию.</p>
<p>Рекламная информация в сети размещается посредством особых электронных блоков, которые отличаются огромным видовым разнообразием. Помимо широкого спектра разновидностей она также замечательным образом вовлечена в процесс постоянного взаимодействия с пользователем. Такая особенность присуща исключительно рекламе данного вида, аналогов среди других способов рекламирования просто не существует.</p>
<p>Информирование через Интернет активно задействует все человеческие органы чувств, влияет на подсознание и способствует запоминанию. В отличии от ТВ-рекламы она не обладает излишней навязчивостью, не требует уделять внимание для ее просмотра в конкретный временной промежуток. С другой стороны, просмотр, например, интерактивной интернет-рекламы более интересный процесс, нежели знакомство с информацией в печатных изданиях, которую сложно сделать привлекательной в силу ограниченных возможностей.</p>
<p>Для любого рекламирования важен такой показатель как «частотность», который определяет количество показов объявления в ограниченных временных рамках. <strong>Размещение рекламы в Интернете</strong> решает этот вопрос наилучшим образом, так как многомиллионная аудитория за короткое время может просмотреть сотни тысяч объявлений. В печати для достижения такого же эффекта пришлось бы заполнить рекламой все страницы издания.</p>
<p class="dropcap"><strong>Типичные разновидности рекламы в сети Интернет</strong></p>
<p><img src="~/Content/images/service/inet2.png" border="0" alt="размещение рекламы в интернете" width="100%"></p>
<p>Основными видами рекламирования с помощью «всемирной паутины» являются контекстное информирование и медийное.</p>
<p>Для рекламы контекстного плана свойственна ориентированность на запросы, которые вводит пользователь в поисковую строку браузера. Она очень гибко подстраивается под параметры и область, интересующие конкретного человека. Если он проявил внимание к определенному продукту, то контекстная реклама доведет его до нужного ресурса. Исходной задачей рекламации подобного типа является отбор потенциально заинтересованной аудитории в том или ином рекламируемом товаре или услуге. Оплата происходит в случае перехода пользователя на ресурс. Вне пределов сети не существует аналогичного способа информирования потребителя.</p>
<p>Медийная реклама (баннерная), как правило, размещается на отдельной части площадки либо занимает ее целиком. Основной аудиторией данного вида рекламации является конкретная целевая группа, заинтересованная в продукте или услуге. Оплата формируется исходя из времени демонстрации либо по числу показов за какой-то временной промежуток. Баннерное информирование сродни рекламе в телевизионном эфире и в других СМИ.</p>
<p>Еще одним способом рекламирования являются видеоблоки, которые демонстрируют продукт и рассказывают о нем. Часто эти сюжеты содержат гиперссылки, ведущие на страницу ресурса с рекламируемым товаром.</p>
<p>Для более эффективного воздействия виды Интернет-рекламы часто смешивают между собой, добиваясь большей результативности. Иногда бывает совсем невозможно их разграничить, поэтому все чаще появляются своеобразные контекстно-медийные рекламации.</p>
<p>Стоимость данного вида рекламирования доступна для большого количества рекламодателей. Реклама в интернете сегодня — это оптимальный способ размещения информации, рассчитанной на основную массу активных потребителей — пользователей всемирной сети.</p>