@{
    ViewBag.Title = "Промо-акции";
}

<h4>Проведение промо-акций любой сложности и механики, directmarketing</h4>
<ul>
    <li>В базе промоутеров более 200 человек, что позволяет своевременно заменить персонал в случае экстренных ситуаций</li>
    <li>Наличие промоутеров с медицинскими книжками</li>
    <li>Соглашения со всеми розничными сетями и торговыми центрами г. Астана</li>
    <li>Большой опыт проведения BTL-мероприятий любой сложности</li>
    <li>Большой опыт проведения дегустаций</li>
    <li>Работа по всей территории Казахстана</li>
</ul>