@{
    ViewBag.Title = "Спецпроекты";
}

<ul>
    <li>Размещение на счетах-фактурах ЖКХ</li>
    <li>Аренда и брендирование надувного дирижабля</li>
    <li>Реклама в метро</li>
    <li>Реклама в СМИ</li>
    <li>Реклама в интернете</li>
    <li>Стикеры в сети магазинов «Карусель», «Пятерочка+», «Перекресток»</li>
    <li>Киномакс. Видеоролики на экранах</li>
    <li>Media Markt. Трансляция видеороликов</li>
</ul>