@{
    ViewBag.Title = "Наружняя реклама";
}

<p>
    Опыт работы в размещении наружной рекламы и долгое сотрудничество с подрядными компаниями позволяет запустить рекламную кампанию оперативно в любом из регионов Казахстана.
</p>

<p>
    Формат не имеет значения: сити-форматы, суперсайты, билборды, призматроны, брандмауеры и т.д.
</p>

<img src="~/Content/images/service/ban1.jpg" width="200" height="200" />
<img src="~/Content/images/service/ban2.jpg" width="200" height="200" />
<img src="~/Content/images/service/ban3.jpg" width="200" height="200" />
<img src="~/Content/images/service/ban4.jpg" width="200" height="200" />
<img src="~/Content/images/service/ban5.jpg" width="200" height="200" />
<img src="~/Content/images/service/ban6.jpg" width="200" height="200" />