@{
    ViewBag.Title = "Реклама в транспорте";
}

<div class="art-title"><h1>Реклама в транспорте</h1></div>
<div class="clr"></div>

<p>
    <img src="~/Content/images/service/bus1.jpg" border="0" alt="реклама на автобусах в Астане" style="margin: 0 0 10px 0">
    <img src="~/Content/images/service/bus2.jpg" border="0" alt="реклама на автобусах в Астане" style="margin: 0 0 10px 0"><br/>
    Уникальная возможность донести информацию именно до Вашей целевой аудитории! Маршруты охватывают максимально все направления. Складывается впечатление, что все дороги ведут в... Рим!
</p>
<p>Необычный формат рекламы в виде световой панели (1.2х1.2м) или несветовой над дверьми (0,3х1.25м) обеспечат возможность рассказать о Вас максимальной Целевой Аудитории, причем, в течение 1 месяца! А невысокая стоимость ресурса делает наше предложение еще более привлекательным!</p>
<p>Человекопоток за 1 день в 1 ед. транспорта составляет до 800 чел, а за месяц эта цифра составит 24 000 тыс. чел! Пробки на дорогах - тоже наш плюс, он позволяет работать рекламе ещё дольше.</p>